<template>
    <div class="login-screen">
        <nav class="level">
            <div class="level-item">
                <img src="ksavir.png" width="128">
            </div>
        </nav>
        <div class="field">
            <label class="label">Vault URL</label>
            <div class="control">
                <input v-model="vault_url" class="input" :class="{'is-danger': url_invalid}" type="text" placeholder="htts://myvault:8200">
            </div>
            <p v-if="url_invalid" class="help is-danger">
                Unable to connect to Vault
            </p>
        </div>
        <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-left">
                <input v-model="username" class="input" :class="{'is-danger': login_failed}" type="text" placeholder="Username">
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </div>
            <p v-if="login_failed" class="help is-danger">Username or password is incorrect</p>
        </div>
        <div class="field">
            <label class="label">Password</label>
            <div class="control has-icons-left">
                <input v-model="password" class="input" :class="{'is-danger': login_failed}" type="password" placeholder="Password">
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </div>
        </div>
        <div class="level">
            <div class="level-item">
                <div class="field is-grouped">
                    <div class="control">
                        <button @click="login" class="button is-link">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>
.login-screen {
    padding: 24px;
}
</style>


<script>
export default {
    name: "Login",
    props: ["app"],
    data: function() {
        return {
            vault_url: this.app.state.vault_url,
            username: "",
            password: "",
            login_failed: false,
            url_invalid: false
        }
    },
    methods: {
        login: function() {
            this.url_invalid = false;
            this.login_failed = false;

            this.app.test_url(this.vault_url).then((result) => {
                if (!result) {
                    this.url_invalid = true;
                } else {
                    this.app.set_url(this.vault_url);

                    return this.app.login(this.username, this.password).catch(() => {
                        this.login_failed = true;
                    });
                }
            });
        }
    }
}
</script>
