<template>
  <div class="card">
        <nav class="panel" v-if="!active_code && !new_otp_code">
            <PanelHeader :app="app" />
            <template v-for="code_name in otp_codes">
                <a class="panel-block" :key="code_name" @click="app.show_code(code_name)">
                    <span class="panel-icon">
                        <i class="fas fa-clock"></i>
                    </span>
                    <div class="password-panel-block">
                        <div class="password-name">
                            {{ code_name }}
                        </div>
                        <div class="password-controls">
                            <span class="panel-icon is-right" @click="app.copy_code(code_name, $event)">
                                <i class="fas fa-copy"></i>
                            </span>
                        </div>
                    </div>
                </a>
            </template>
            <div class="panel-block">
                <button class="button is-link is-fullwidth" @click="app.add_otp()">
                    add website
                </button>
            </div>
        </nav>
        <template v-if="active_code">
            <header class="card-header">
                <p class="card-header-title" @click="app.code_back()">
                    <i class="fas fa-chevron-left"></i>
                    &nbsp; back
                </p>
            </header>
            <div class="card-content">
                <nav class="level">
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Code</p>
                            <p class="title">{{ active_code.code }}</p>
                        </div>
                    </div>
                </nav>
                <nav class="level">
                    <p class="level-item has-text-centered">
                        <progress class="progress" :value="active_code.age" :max="active_code.period">{{ active_code.age }}</progress>
                    </p>
                </nav>
                <div class="field">
                    <label class="label">Issuer</label>
                    <div class="control">
                        <input type="text" class="input" v-model="active_code.issuer" disabled>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Account Name</label>
                    <div class="control">
                        <input type="text" class="input" v-model="active_code.account_name" disabled>
                    </div>
                </div>
                <div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link is-danger" @click="app.delete_code()">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </template>
        <template v-if="new_otp_code">
            <div class="card-content">
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                        <input type="text" class="input" v-model="new_otp_code.name">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Issuer</label>
                    <div class="control">
                        <input type="text" class="input" v-model="new_otp_code.issuer" disabled>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Account Name</label>
                    <div class="control">
                        <input type="text" class="input" v-model="new_otp_code.account_name" disabled>
                    </div>
                </div>
                <div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link is-primary" @click="app.save_new_otp()">Save</button>
                        </div>
                        <div class="control">
                            <button class="button is-text" @click="app.cancel_new_otp()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </template>
  </div>
</template>

<script>
import PanelHeader from "#/partials/PanelHeader";

export default {
  name: "MFA",
  props: ["app"],
  components: { PanelHeader },
  data: function() {
    return this.app.state;
  }
};
</script>
