<template>
    <div class="card">
        <nav class="panel" v-if="!active_password">
            <PanelHeader :app="app" />
            <a v-if="path.length > 0" class="panel-block" @click="app.navigate_up()">
                <span class="panel-icon">
                    <i class="fas fa-folder"></i>
                </span>
                ..
            </a>
            <template v-for="(folder, folder_name) in current_folder.folders">
                <a class="panel-block" :key="folder_name" @click="app.open_folder(folder_name)">
                    <span class="panel-icon">
                        <i class="fas fa-folder"></i>
                    </span>
                    {{ folder_name }}
                </a>
            </template>
            <template v-for="password in current_folder.passwords">
                <a class="panel-block" :key="password" @click="app.show_password(password)">
                    <span class="panel-icon">
                        <i class="fas fa-unlock-alt"></i>
                    </span>
                    <div class="password-panel-block">
                        <div class="password-name">
                            {{ password }}
                        </div>
                        <div class="password-controls">
                            <span class="panel-icon is-right" @click="app.copy_password(password, $event)">
                                <i class="fas fa-copy"></i>
                            </span>
                        </div>
                    </div>
                </a>
            </template>
            <div class="panel-block">
                <button class="button is-link is-fullwidth" @click="app.add_password()">
                    add password
                </button>
            </div>
        </nav>
        <template v-if="active_password">
            <header class="card-header">
                <p class="card-header-title" @click="app.password_back()">
                    <i class="fas fa-chevron-left"></i>
                    &nbsp; back
                </p>
            </header>
            <div class="card-content">
                <div class="field">
                    <label class="label">Website</label>
                    <div class="control">
                        <input type="text" class="input" v-model="active_password.name">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Username</label>
                    <div class="control">
                        <input type="text" class="input" v-model="active_password.username">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                        <input type="password" class="input" v-model="active_password.password" v-if="!show_password">
                        <input type="text" class="input" v-model="active_password.password" v-if="show_password">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <label class="checkbox">
                            <input type="checkbox" v-model="show_password">
                            Show password
                        </label>
                    </div>
                </div>
                <label class="label">Length</label>
                <div class="field has-addons">
                    <div class="control">
                        <input type="number" class="input" min="6" v-model="password_length">
                    </div>
                    <div class="control">
                        <a class="button is-info" @click="app.generate_password()">
                            Generate
                        </a>
                    </div>
                </div>
                <p v-if="length_too_short" class="help is-danger">Password must be at least 6 characters</p>
                <div class="field is-grouped">
                    <div class="control">
                        <label class="checkbox">
                            <input type="checkbox" v-model="alpha">
                            A-Z
                        </label>
                    </div>
                    <div class="control">
                        <label class="checkbox">
                            <input type="checkbox" v-model="numeric">
                            0-9
                        </label>
                    </div>
                    <div class="control">
                        <label class="checkbox">
                            <input type="checkbox" v-model="symbols">
                            Symbols
                        </label>
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <label class="checkbox">
                            <input type="checkbox" v-model="more_symbols">
                            Extra Symbols
                        </label>
                    </div>
                </div>
                <div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link" @click="app.save_password()">Submit</button>
                        </div>
                        <div class="control">
                            <button class="button is-text" @click="app.password_back()">Cancel</button>
                        </div>
                        <div class="control is-right">
                            <button class="button is-link is-danger" @click="app.delete_password()">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
import PanelHeader from "#/partials/PanelHeader";

export default {
    name: "Vault",
    props: ["app"],
    components: { PanelHeader },
    data: function() {
        return this.app.state;
    }
}
</script>
